body,html{
    height: 100%;
}

body{
    background-image: url("/images/bg.jpg");
}

/* remove outer padding */
.main .row{
    padding: 0px;
    margin: 0px;
}

/*Remove rounded coners*/

nav.sidebar.navbar {
    border-radius: 0px;
}

nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

/* Add gap to nav and right windows.*/
.main{
    padding: 10px 10px 0 10px;
}

/* .....NavBar: Icon only with coloring/layout.....*/

/*small/medium side display*/
@media (min-width: 768px) {

    /*Allow main to be next to Nav*/
    .main{
        position: absolute;
        width: calc(100% - 40px); /*keeps 100% minus nav size*/
        margin-left: 40px;
        float: right;
    }

    /*lets nav bar to be showed on mouseover*/
    nav.sidebar:hover + .main{
        margin-left: 200px;
    }

    /*Center Brand*/
    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }
    /*Center Brand*/
    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

    /*Center Icons*/
    nav.sidebar a{
        padding-right: 13px;
    }

    /*adds border top to first nav box */
    nav.sidebar .navbar-nav > li:first-child{
        border-top: 1px #e5e5e5 solid;
    }

    /*adds border to bottom nav boxes*/
    nav.sidebar .navbar-nav > li{
        border-bottom: 1px #e5e5e5 solid;
    }

    /* Colors/style dropdown box*/
    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    /*allows nav box to use 100% width*/
    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
        padding: 0 0px 0 0px;
    }

    /*colors dropdown box text */
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
    }

    /*gives sidebar width/height*/
    nav.sidebar{
        width: 200px;
        height: 100%;
        margin-left: -160px;
        float: left;
        z-index: 8000;
        margin-bottom: 0px;
    }

    /*give sidebar 100% width;*/
    nav.sidebar li {
        width: 100%;
    }

    /* Move nav to full on mouse over*/
    nav.sidebar:hover{
        margin-left: 0px;
    }
    /*for hiden things when navbar hidden*/
    .forAnimate{
        opacity: 0;
    }
}

/* .....NavBar: Fully showing nav bar..... */

@media (min-width: 1330px) {

    /*Allow main to be next to Nav*/
    .main{
        width: calc(100% - 200px); /*keeps 100% minus nav size*/
        margin-left: 200px;
    }

    /*Show all nav*/
    nav.sidebar{
        margin-left: 0px;
        float: left;
    }
    /*Show hidden items on nav*/
    nav.sidebar .forAnimate{
        opacity: 1;
    }
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
}

nav:hover .forAnimate{
    opacity: 1;
}
section{
    padding-left: 15px;
}

#nav-logo{
    color: white;
    font-size: 2vw;
    text-shadow: 1px 1px 1px #8e8e8e;
}

#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}

.fit-content{
    width: 100%;
}

.txt-center{
    text-align: center;
}

#adminLeagueContainer{
    margin-bottom: 200px;
}

.admin-league:hover{
    cursor: pointer;
}
.admin-game:hover{
    cursor: pointer;
}


.main-bg{
    background-color:#28323ad9;
    box-shadow: 1px 1px 1px black;
    border-radius: 25px;
}

.game-info-con{
    padding: 10px !important;
    border-bottom: 1px solid black;
}



#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.search-query:focus + button {
    z-index: 3;
}

.search-bar-row{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.Blink {
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}
@keyframes blinker {
    from { opacity: 1; }
    to { opacity: 0; }
}

.league-container h1{
    font-size: 20px;
    color: white;
    text-decoration: underline;
}

.league-container h1:hover{
    font-size: 20px;
    color: #cfcfcf;
}

#LeaguesContainer h1{
    /*color: white;*/
}

.league-type-container{
    margin-bottom: 50px;
}
.center-div{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#Nav{
    background-image: -webkit-linear-gradient(top, #020101 0%, #4e4e4e 100%);
    background-image: -o-linear-gradient(top, #020101 0%, #4e4e4e 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#020101), to(#4e4e4e));
    background-image: linear-gradient(to bottom, #020101 0%, #4e4e4e 100%);
}

#NavLogo{
    margin-top: 10px;
    margin-bottom: 10px;
}

.game-info-con p {
    font-size: 20px;
    color: #2aabd2;
    text-shadow: 1px 1px 1px black;
}

.white-head{
    color: white;
    text-shadow: 0px 2px 20px black;
}

.float-left{
    float: left;
}

#leagueTable{
    color: white;
    text-shadow: 1px 1px 1px black;
}

.league-info h1{
    font-size: 20px;
    color: #2aabd2;
    text-shadow: 1px 1px 1px black;
}

#lineUpContainer{
    margin-top: 50px;
    background-color: #cacaca;
    box-shadow: 1px 1px 4px 2px black;
    border-radius: 5px;
    border: 2px solid #fbfbfb;
}

#lineUpEmpty h1{
    text-align: center;
    font-size: 20px;
}

.game-info-con:hover p{
    color: #cfcfcf;
}

.stream-row{
    margin-top: 20px!important;
    font-size: 20px;
    color: #2aabd2;
    text-shadow: 1px 1px 1px black;
    border-bottom: 1px solid #fbfbfb;
}

#leagueGames{
}

.score-container{
    background-color: #f3f3f3;
    border-radius: 15px;
    box-shadow: inset 1px 1px 1px 0px black;
}

.center-align{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

